<ion-header>

    <ion-navbar color= 'navbarColor'>
      <ion-title style="background-color: yellow; color: black;">Checkout</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <ion-list>
        <ion-item-divider style="background-color: yellow; color: black;">Personal Details</ion-item-divider>
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.billing.first_name"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.billing.last_name"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input readonly type="email" [(ngModel)]="newOrder.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input readonly type="text" [(ngModel)]="newOrder.username"></ion-input>
        </ion-item>
  
        <ion-item-divider style="background-color: yellow; color: black;">Billing Details</ion-item-divider>
  
        <ion-item>
          <ion-label>Address Line 1</ion-label>
          <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing.address_1"></ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-label>Address Line 2</ion-label>
          <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.billing.address_2"></ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="newOrder.billing.country">
              <ion-option value="Bahrain" selected="true">Bahrain</ion-option>
              <ion-option value="Cyprus" selected="true">Cyprus</ion-option>
              <ion-option value="Egypt" selected="true">Egypt</ion-option>
              <ion-option value="Israel" selected="true">Israel</ion-option>
              <ion-option value="Iran" selected="true">Iran</ion-option>
              <ion-option value="Iraq" selected="true">Iraq</ion-option>
              <ion-option value="Jordan" selected="true">Jordan</ion-option>
              <ion-option value="Kuwait" selected="true">Kuwait</ion-option>
              <ion-option value="Lebanon" selected="true">Lebanon</ion-option>
              <ion-option value="Oman" selected="true">Oman</ion-option>
              <ion-option value="Palestine" selected="true">Palestine</ion-option>
              <ion-option value="Qatar" selected="true">Qatar</ion-option>
              <ion-option value="Syria" selected="true">Syria</ion-option>
              <ion-option value="Saudi" selected="true">Saudi Arabia</ion-option>
              <ion-option value="Turkey" selected="true">Turkey</ion-option>
              <ion-option value="UAE" selected="true">UAE</ion-option>
              <ion-option value="Yemen" selected="true">Yemen</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label>State</ion-label>
          <!--<ion-select >-->
          <ion-textarea type="text" maxlength="50"  [(ngModel)]="newOrder.billing.state"></ion-textarea>
               <!--<ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
          <ion-option value="Maharashtra">Maharashtra</ion-option>
          <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
          <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>-->
       <!-- </ion-select>-->
        </ion-item>
  
        <ion-item>
          <ion-label>City</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.billing.city"></ion-input>        
        </ion-item>
  
        <ion-item>
          <ion-label>Postal Code</ion-label>
          <ion-input type="number" clearInput [(ngModel)]="newOrder.billing.postcode"></ion-input>        
        </ion-item>
  
        <ion-item>
          <ion-label>Phone</ion-label>
          <ion-input type="tel" clearInput [(ngModel)]="newOrder.billing.phone"></ion-input>        
        </ion-item>
  
        <ion-item>
          <ion-label>Same Shipping Details</ion-label>
          <ion-toggle (ionChange)="setBillingToShipping()"></ion-toggle>
        </ion-item>
  
        <ion-item-divider style="background-color: yellow; color: black;" *ngIf="!billing_shipping_same">Shipping Details</ion-item-divider>
        
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.shipping.first_name"></ion-input>
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.shipping.last_name"></ion-input>
        </ion-item>
        
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Address Line 1</ion-label>
          <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping.address_1"></ion-textarea>
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Address Line 2</ion-label>
          <ion-textarea type="text" maxlength="80" [(ngModel)]="newOrder.shipping.address_2"></ion-textarea>
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="newOrder.shipping.country">
              <ion-option value="Bahrain" selected="true">Bahrain</ion-option>
              <ion-option value="Cyprus" selected="true">Cyprus</ion-option>
              <ion-option value="Egypt" selected="true">Egypt</ion-option>
              <ion-option value="Israel" selected="true">Israel</ion-option>
              <ion-option value="Iran" selected="true">Iran</ion-option>
              <ion-option value="Iraq" selected="true">Iraq</ion-option>
              <ion-option value="Jordan" selected="true">Jordan</ion-option>
              <ion-option value="Kuwait" selected="true">Kuwait</ion-option>
              <ion-option value="Lebanon" selected="true">Lebanon</ion-option>
              <ion-option value="Oman" selected="true">Oman</ion-option>
              <ion-option value="Palestine" selected="true">Palestine</ion-option>
              <ion-option value="Qatar" selected="true">Qatar</ion-option>
              <ion-option value="Syria" selected="true">Syria</ion-option>
              <ion-option value="Saudi" selected="true">Saudi Arabia</ion-option>
              <ion-option value="Turkey" selected="true">Turkey</ion-option>
              <ion-option value="UAE" selected="true">UAE</ion-option>
              <ion-option value="Yemen" selected="true">Yemen</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>State</ion-label>
         <!-- <ion-select >-->
          <ion-textarea type="text" maxlength="50"  [(ngModel)]="newOrder.shipping.state"></ion-textarea>
                 <!--<ion-option value="Uttar Pradesh">Uttar Pradesh</ion-option>
          <ion-option value="Maharashtra">Maharashtra</ion-option>
          <ion-option value="Tamil Nadu">Tamil Nadu</ion-option>
          <ion-option value="Madhya Pradesh">Madhya Pradesh</ion-option>-->
       <!-- </ion-select>-->
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>City</ion-label>
          <ion-input type="text" [(ngModel)]="newOrder.shipping.city"></ion-input>        
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Postal Code</ion-label>
          <ion-input type="number" clearInput [(ngModel)]="newOrder.shipping.postcode"></ion-input>        
        </ion-item>
  
        <ion-item *ngIf="!billing_shipping_same">
          <ion-label>Phone</ion-label>
          <ion-input type="tel" clearInput [(ngModel)]="newOrder.shipping.phone"></ion-input>        
        </ion-item>
  
        <ion-item-divider color="danger">Payment Details</ion-item-divider>
  
        <ion-item>
          <ion-label>Payment Method</ion-label>
          <ion-select [(ngModel)]="paymentMethod">
            <ion-option *ngFor="let p of paymentMethods" value="{{p.method_id}}">{{ p.method_title }}</ion-option>
          </ion-select>
        </ion-item>
  
      </ion-list>
  
  </ion-content>
  
  <ion-footer>
    <button ion-button block style="background-color: yellow; color: black;" (click)="placeOrder()">Place Order</button>
  </ion-footer>
  